<p id="notice"><%= notice %></p>

<h1>Favorites</h1>
<table>
  <thead>
    <tr>
      <th>Lastname</th>
      <th>Firstname</th>
      <th>Uin</th>
      <th>Email</th>
      <th>Classname</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @favorites.each do |favorite| %>
        <tr>
          <%= Student.all.where(uin: favorite.uin, classname: favorite.classname, semester: favorite.semester, year: favorite.year).find_each do |student| %>
          <td><%= student.lastname %></td>
          <td><%= student.firstname %></td>
          <td><%= student.uin %></td>
          <td><%= student.email %></td>
          <td><%= student.classname %></td>
          <td><%= link_to 'Show', student %></td>
          <td><%= link_to 'Edit', edit_student_path(student) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favorite', new_favorite_path %>
