<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="field">
    <%= form.label :uin %>
    <%= form.text_field :uin %>
  </div>

  <div class="field">
    <%= form.label :major %>
    <%= form.text_field :major %>
  </div>

  <div class="field">
    <%= form.label :finalgrade %>
    <%= form.text_field :finalgrade %>
  </div>

  <div class="field">
    <%= form.label :updatedgrade %>
    <%= form.text_field :updatedgrade %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
