<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="field">
    <%= form.label :uin %>
    <%= form.text_field :uin %>
  </div>

  <div class="field">
    <%= form.label :major %>
    <%= form.text_field :major %>
  </div>

  <div class="field">
    <%= form.label :finalgrade %>
    <%= form.text_field :finalgrade %>
  </div>

  <div class="field">
    <%= form.label :updatedgrade %>
    <%= form.text_field :updatedgrade %>
  </div>

  <div class="field">
    <%= form.label :classname %>
    <%= form.text_field :classname %>
  </div>

  <div class="field">
    <%= form.label :recletter %>
    <%= form.text_field :recletter %>
  </div>

  <div class="field">
    <%= form.label :semester %>
    <%= form.text_field :semester %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p id="notice"><%= notice %></p>
  <!DOCTYPE html>
  <html>
  <head>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
  </style>
  </head>
  <body class="w3-light-grey">

  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">
    
      <!-- Left Column -->
      <div class="w3-third">
      
        <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <!-- <% begin %> -->
            <% @Images.each do |image| %>
              <% if @student.uin == image.uin  %>
                <%= image_tag(image.photo) %>
              <% end %>
            <% end %>
          <!-- <%rescue%>
            <% puts("no image")%>
          <%end%> -->

            <div class="w3-display-bottomleft w3-container w3-text-black">
              <h2><%= @student.firstname %> , <%= @student.lastname %></h2>
            </div>
          </div>
          <div class="w3-container">
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-red"></i>Email: <%= form.text_field :email, :size => "8x8" %></p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-red"></i>Semester: <%= form.text_field :semester, :size => "8x8" %>, <%= form.text_field :year, :size => "8x8" %></p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-red"></i>Class: <%= form.text_field :classname, :size => "8x8" %></p>
            <p><i class="fa fa-file fa-fw w3-margin-right w3-large w3-text-red"></i>Reccommendation Letter: <%= form.text_field :recletter, :size => "8x8"%></p>
            <p><i class="fa fa-file fa-fw w3-margin-right w3-large w3-text-red"></i>Final Grade: <%= form.text_field :finalgrade, :size => "8x8" %></p>
            <p><i class="fa fa-file fa-fw w3-margin-right w3-large w3-text-red"></i>UIN: <%= form.text_field :uin, :size => "8x8" %></p>
            <p><i class="fa fa-file fa-fw w3-margin-right w3-large w3-text-red"></i>Major: <%= form.text_field :major, :size => "8x8" %></p>
            <hr>

          </div>
        </div><br>

      <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird">
      
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i><%= @student.firstname %> <%= @student.lastname %> </h2>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Notes: </b></h5>
            <p><%= form.text_field :notes, :size => "30", :height => "300" %></p>
            <hr>
          </div>
        </div>

      <!-- End Right Column -->
      </div>
      
    <!-- End Grid -->
    </div>
    
    <!-- End Page Container -->
  </div>

  <footer class="w3-container w3-teal w3-center w3-margin-top">
    <p>Find me on social media.</p>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>

  </body>
  </html>

  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>

<%= link_to 'Students', students_path %>