<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
body{
    color: #1a202c;
    background-color: #ebe8df;   
    font-family: 'Montserrat';
}
h1{
  font-size: 100px;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 40px;
}
h4{
  font-size: 20px;
}
nav{
  background-color: #450012;
}
.navbar .navbar-nav .nav-link:hover {
  background-color: #450012;
  color: #fff;
}
.main-body {
  padding: 15px;
  text-align:left;
    
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  margin: 0 auto;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #450012;
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 2rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}
</style>

</head>
<nav class="navbar fixed-top navbar-expand-sm navbar-dark">
  <div class="container-fluid">
    <a style="background-color:transparent;" class="navbar-brand" href="#">CSCE Recommendation Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Return to students page', students_path, class: 'nav-link' %>
        </li> 
      </ul>
    </div>
  </div>
</nav>

  <body>
  <div class="main">

    <%= form_with(model: student) do |form| %>
      <% if student.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

          <ul>
            <% student.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <div class="container">
        <div class="main-body">
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                          <h4><%= @student.firstname %> <%= @student.lastname %></h4>
                          <p class="text-secondary mb-1"><%= @student.major %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card" style="margin-top:1%;">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                      <h4>Recommendation Letter Status</h4>
                        <div class="mt-1">
                          <h5 class="mb-4 text-uppercase"><%= @student.recletter %></h5>
                        </div>
                        
                      </div>
                    </div>
                  </div>

                  <div class="card" style="margin-top:1%;">
                    <div class="card-body">
                      <div class="d-flex flex-column">
                      <h6>Change Recommendation Letter Status</h6>
                        <div class="mt-1">
                          <%= form_with(model: @student) do |form| %>
                          <div class="field">
                            <%= form.select :recletter, ['YES', 'NO', 'UNDECIDED']%>
                          </div>
                        <%end%>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card" style="margin-top:1%;">
                    <div class="card-body">
                      <div class="d-flex flex-column">
                      <h4>Notes</h4>
                        <div class="mt-3">
                          <div class="field">
                            <%= form.text_field :notes %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <div class="field">
                            <%= form.label :firstname %>
                            <%= form.text_field :firstname %>
                          </div>

                          <div class="field">
                            <%= form.label :lastname %>
                            <%= form.text_field :lastname %>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">UIN</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <div class="field">
                            <%= form.text_field :uin %>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <div class="field">
                            <%= form.text_field :email %>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Class</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <div class="field">
                            <%= form.text_field :classname %>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Semester and Year</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <div class="field">
                            <%= form.label :semester %>
                            <%= form.select :semester, ['Fall', 'Spring', 'Summer']%>
                          </div>
                          <div class="field">
                            <%= form.label :year %>
                            <%= form.text_field :year %>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Grades</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <div class="field">
                            <%= form.text_field :updatedgrade %>
                            <%= form.text_field :finalgrade %>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="actions">
                              <%= form.submit %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      <% end %>

    </div>
    <div class="footer">
      <p>CSCE Recommendation Tracker for Dr. Lightfoot. Created by Jonathan Le, Yash Kalyani, Calvin Nguyen, and Mihiran Pandey.</p>
    </div>

  </body>
  </html>

 
<%= link_to 'Students', students_path %>