<p id="notice"><%= notice %></p>

<p>
  <strong>Semester:</strong>
  <%= @student.semester %>
</p>

<p>
  <strong>Year:</strong>
  <%= @student.year %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @student.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @student.notes %>
</p>

<p>
  <strong>Uin:</strong>
  <%= @student.uin %>
</p>

<p>
  <strong>Major:</strong>
  <%= @student.major %>
</p>

<p>
  <strong>Finalgrade:</strong>
  <%= @student.finalgrade %>
</p>

<p>
  <strong>Updatedgrade:</strong>
  <%= @student.updatedgrade %>
</p>

<p>
  <strong>Classname:</strong>
  <%= @student.classname %>
</p>

<p>
  <strong>Recletter:</strong>
  <%= @student.recletter %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
