
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> 

<style>
body {
  margin:0;
  font-family: 'Montserrat';
  background-color: #ebe8df;
}
h1{
  font-size: 100px;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 40px;
}
h4{
  font-size: 20px;
}
.center {
  margin-left: auto;
  margin-right: auto;
  width:100%;
  text-align:center;
}
th {
  background: #450012;
  color:white;
  
}
tr:nth-child(odd) {
  background-color: #F5D5CB;
}
nav{
  background-color: #450012;
}
.navbar .navbar-nav .nav-link:hover {
  background-color: #450012;
  color: #fff;
}
</style>
</head>

<nav class="navbar fixed-top navbar-expand-sm navbar-dark">
    <a style="background-color:transparent;" class="navbar-brand" href="#">CSCE Recommendation Tracker</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Students', students_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Favorites', favorites_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Courses', courses_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Images', images_path, class: 'nav-link' %>
        </li>
        <li class="nav-item ">
          <%= link_to "Help Page", help_students_path, class: 'nav-link' %>
        </li>  
        <li class="nav-item ms-auto">
          <%= link_to "Sign Out", destroy_admin_session_path, class: 'nav-link' %>
        </li>  
      </ul>
    </div>
</nav>
<body>
<div class="main">

  <div style="background-color:white; width:100%;padding-bottom:8%;padding-top:8%; margin-bottom: 5%;">
    <p id="notice"><%= notice %></p>

    <h4 style="text-align:center; color:#450012">Class of</h4>
    <h1 style="text-align:center; color:#450012" class="text-uppercase"> <%= @course.classname %> </h1>
    <h3 style="text-align:center; color:#450012"><%= @course.semester %> <%= @course.year %> </h3>
  </div>

<table style="border:1px solid; border-color: #450012; width:90%;" class="center">
  <thead>
    <tr style="background-color: white; ">
      <th>Favorited</th>
      <th>Email</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Notes</th>
      <th>Uin</th>
      <th>Finalgrade</th>
      <th>Updatedgrade</th>
      <th>Recletter</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @students.where(classname: @course.classname, semester: @course.semester, year: @course.year).find_each do |student| %>
      <tr>
        <td><% if Favorite.all.where(uin: student.uin).find_each.count > 0 %>
             <span class="bi bi-star yellow-color"> </span>
             <% else %>
             <span class="bi bi-star" style="font-size:50px"> </span>
        <% end%> </td>
        <td><%= student.email %></td>
        <td><%= student.firstname %></td>
        <td><%= student.lastname %></td>
        <td><%= student.notes %></td>
        <td><%= student.uin %></td>
        <td><%= student.finalgrade %></td>
        <td><%= student.updatedgrade %></td>
        <td><%= student.recletter%></td>
        <% if Favorite.all.where(uin: student.uin, classname: student.classname, year: student.year, semester: student.semester).find_each.count == 0 %>
            <td><%= button_to 'Favorite', favor_students_path(:lastname => student.lastname, :firstname => student.firstname, :uin => student.uin, :email => student.email, :classname => student.classname, :notes => student.notes, :major => student.major, :finalgrade => student.finalgrade, :updatedgrade => student.updatedgrade, :recletter => student.recletter, :semester => student.semester, :year => student.year), :class => "btn buttonTo" %></td>
          <% else %>
            <td><%= button_to 'Unfavorite', favor_students_path(:lastname => student.lastname, :firstname => student.firstname, :uin => student.uin, :email => student.email, :classname => student.classname, :notes => student.notes, :major => student.major, :finalgrade => student.finalgrade, :updatedgrade => student.updatedgrade, :recletter => student.recletter, :semester => student.semester, :year => student.year), :class => "btn buttonTo" %></td>
        <% end%>
        <td><%= link_to 'Show', student, class: "btn buttonTo" %></td>
        <td><%= link_to 'Edit', edit_student_path(student), class: "btn buttonTo" %></td>
        <td><%= button_to "Delete", student, :method => "delete", :class => "btn buttonTo" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="footer">
	<p>CSCE Recommendation Tracker for Dr. Lightfoot. Created by Jonathan Le, Yash Kalyani, Calvin Nguyen, and Mihiran Pandey.</p>
</div>
</body>
